{# Testing here #}
{% load static %} {# pulls from static to get the layouts probably can use exact files for this #}
<link rel="stylesheet" href="{% static 'forms_app/bootstrap.css' %}">
<div class="jumbotron">
	<p>This is the forms app</p>
</div>
	{% if form_list %}
		<ul>
			{% for eachItem in form_list %}
				<li>{{ eachItem.name }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>Nothing available.</p>
	{% endif %}
<script src="{% static 'forms_app/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'forms_app/bootstrap.js' %}"></script>

{# this the latest change didnt learn yet. Mirror tmeplates of original app to fit mine? Also static#}